.DS_Store
*_UiCache.zip
**/.local
!.local/PackagerFlags.json
*.crswap
.entities/EntitiesBundle.*.zip
remote-repository.config.json
.sw-path-marker
**/.entities/EntitiesBundle.*.zip
venv/
.venv/
__pycache__/
**/.agent-builder/